<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All current deliveries</title>
</head>
<body>
    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Create Date</th>
            <th>Customer</th>
            <th>Courier</th>
            <th>WareHouse</th>
            <th>Delivery Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="delivery : ${deliveries}">

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

          </tr>

        </tbody>
      </table>
    </div>
</body>
</html>